*{
    margin:0;
}

h1{
    background-color: black;
    color: white;
}

.name{
    text-align: center;
    margin-top: 5px;
}

.description{
    margin-top: 20px;
    text-align: center;
    margin-left: 20px;
}
.desc{
    font-weight: 900;
}

.goat{
    color:red
}

.image{
    width:400px;
    padding-left:300px;
    padding-top: 20px;
}

.imgtag{
    height: 300px;
}

.honorsheading{
    margin-left:20px;
    margin-top:20px;
    font-weight: bolder;
}


.honors{
    margin-left:25%;
    margin-top: 10px;
    padding-top: 10px;
    width:50%;
    height:370px;
    border: 4px solid black;
    background-color: #F1FAEE;
}

li{
    margin-bottom: 10px;
}

.trophy{
    font-style: italic;
    font-weight: bolder;
}
a{
    text-decoration: none;
}

figcaption:hover {
    font-weight: 900;
  }
  